/*----------------------------------------*/
/*  25. breadcrumb
/*----------------------------------------*/
.breadcrumb {
    margin: 0;
    z-index: 1;
    position: relative;
	min-height: 550px;
	padding: 230px 0 100px;
    @include respond(md) {
        padding: 200px 0 100px;
    }
    &__title {
        font-size: 65px;
        padding-bottom: 35px;
        color: var(--color-white);
        border-bottom: 1px solid rgba(255, 255, 255,  0.15);
        @include respond(md) {
            font-size: 55px;
            padding-bottom: 20px;
        }
        @include respond(xs) {
            font-size: 38px;
        }
    }
    &__list {
        padding: 8px 17px;
        display: inline-block;
        @include border-radius(4px);
        background: rgba(25, 27, 33, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.15);
        li {
            font-size: 14px;
            font-weight: 500;
            position: relative;
            display: inline-flex;
            align-items: center;
            text-transform: uppercase;
            color: var(--color-white);
            a {
                color: currentColor;
            }
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: '';
            height: 11px;
            width: 11px;
            margin-right: 10px;
            @include border-radius(100px);
            background: var(--color-primary);
        }
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        max-width: 545px;
        color: var(--color-white);
        margin-left: -15px;
        @media only screen and (max-width: 1600px) {
            margin-left: 0;
        }
    }
    &__holder {
        gap: 686px;
        margin-top: 35px;
        @include respond(laptop) {
            gap: 50px;
            justify-content: space-between;
        }
        @include respond(lg) {
            gap: 50px;
            justify-content: space-between;
        }
        @include respond(md) {
            gap: 30px;
        }
    }
}

.breadcrumb-error {
    min-height: 950px;
    padding: 487px 0 100px;
    @include respond(lg) {
        min-height: 900px;
        padding: 450px 0 100px;
    }
    @include respond(md) {
        min-height: 700px;
        padding: 340px 0 100px;
    }
    @include respond(xs) {
        padding: 250px 0 100px;
        background-position: left;
    }
}
.breadcrumb-error-content {
    @include respond(xs) {
        background-position: left;
    }
    .breadcrumb__title {
        font-weight: 400;
        font-size: 320px;
        color: #6BA9FF;
        line-height: 1;
        padding-top: 0;
        border-top: 0;
        text-transform: uppercase;
        @include respond(lg) {
            font-size: 280px;
        }
        @include respond(md) {
            font-size: 240px;
        }
        @include respond(xs) {
            font-size: 180px;
        }
    }
    .breadcrumb__text {
        font-size: 50px;
        max-width: 100%;
        padding: 0;
        margin-top: -5px;
        color: rgba(255, 255, 255, 0.8);
        font-family: var(--font-heading);
        @include respond(lg) {
            font-size: 40px;
        }
        @include respond(md) {
            font-size: 32px;
        }
        @include respond(xs) {
            line-height: 36px;
        }
    }
    .breadcrumb__btn {
        position: absolute;
        right: 80px;
        bottom: 9%;
        @include respond(laptop) {
            bottom: 12%;
        }
        @include respond(lg) {
            bottom: 16%;
        }
        @include respond(md) {
            right: 30px;
            bottom: 13.5%;
        }
        @include respond(xs) {
            left: 30px;
            bottom: 22%;
            right: auto;
        }
    }
}