.cg-funfact-title {
    font-weight: 400;
    font-size: 46px;
    line-height: 49px;
    max-width: 930px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--font-body);
    @include respond(xs) {
        font-size: 32px;
        max-width: 100%;
        line-height: 1.3;
        
    }
}
.cg-funfact-item {
    .xb-number {
        font-weight: 500;
        font-size: 80px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: var(--font-body);
        background: linear-gradient(73deg, #b85026 0%, #ec8a34 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include respond(md) {
            font-size: 48px;
        }
    }
    .xb-content {
        font-size: 17px;
        max-width: 299px;
        color: rgba(255, 255, 255, 0.8);
        @include respond(md) {
            max-width: 185px;
        }
        @include respond(xs) {
            max-width: 250px;
        }
    }
    &:nth-child(2) {
        .xb-number {
            background: linear-gradient(77deg, #f5b741 0%, #9cc68e 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &:nth-child(3) {
        .xb-number {
            background: linear-gradient(62deg, #40accb 0%, #2c78c1 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.cg-funfact-inner {
    margin-left: -122px;
    @media only screen and (min-width: 1200px) and (max-width: 1300px) {
        margin-left: -170px;
    }
    @include respond(lg) {
        margin-left: 0;
    }
    @include respond(xs) {
        gap: 42px;
    }
}
.cg-funfact-top {
    gap: 30px;
    align-items: start;
    .cg-funfact-btn {
        padding-top: 10px;
    }
}