// variable
:root {
    --font-body: "Inter", sans-serif;
    --font-heading: 'HelveticaNeue';

    --color-primary: #8348ff;
    --color-secondary: #191B21;
    --color-heading:  #191B21;

    --color-default:  #515053; 
    --color-white: #fff;
    --color-black: #000;
    --color-body: #fff;

    --easing: cubic-bezier(0.67, 0.04, 0.3, 0.91);
}
.start_Up_consulting {
	--font-heading: "Inter", sans-serif;

    --color-heading:  #fff;
	--color-body: #020412;
	--color-default: #fffffa;
}